.root {
    padding: 80px 19% 180px;
    position: relative;
    background-color: #FDFAE4;

    @media (max-width: 1200px) {
        padding: 20px 10% 150px;
    }
}

.title {
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
    letter-spacing: 0.3px;
    color: #ff7c48;

    @media (max-width: 1200px) {
        font-size: 2.5rem;
        margin: 40px 0 30px;
    }
}

.description {
    color: #693019;
    font-family: Menlo;
    width: 265px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 0.2px;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        font-size: 14px;
        margin: 0 0 50px;
    }
}

.DoughnutChartDescription {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column-reverse;
    }
}

.popUp {
    position: absolute;
    width: max-content;
    background-color: #f8a43c;
    color: #fff;
    right: 100px;
    bottom: 300px;
    font-size: 12px;
    padding: 10px;
    line-height: 150%;

    @media (max-width: 1200px) {
        font-size: 10px;
        bottom: 40px;
        right: 20px;
    }

}