.titleWrapper {
    display: flex;
    padding: 200px 19% 10px;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 40px 10%;
    }
}

.title {
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    margin-right: 180px;
    letter-spacing: 0.3px;
    color: #ff7c48;

    @media (max-width: 1200px) {
        font-size: 2.5rem;
        margin: 0 0 30px;
        font-size: 30px;
    }
}

.description {
    color: #693019;
    font-family: Menlo;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 0.2px;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        font-size: 14px;
        margin-bottom: 30px;
        width: 100%;
    }
}

.LineChartDescription {
    position: relative;
}

.LineChartDescription::before {
    content: '';
    width: 23px;
    height: 68%;
    background-color: #FDFAE4;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.LineChartDescription::after {
    content: '';
    width: 30px;
    height: 53%;
    background-color: #FDFAE4;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

@media (max-width: 1200px) {
    .LineChartDescription::before {
        height: 72%;
        width: 10px;
    }

    .LineChartDescription::after {
        height: 58%;
    }

}

@media (max-width: 768px) {
    .LineChartDescription::before {
        height: 79%;
    }

    .LineChartDescription::after {
        height: 73%;
    }

}